@charset "ISO-8859-1";

*{
	box-sizing: border-box;
	
}

.bus_img{
 	width: 100%;
	height: 80%;
	background-repeat: no-repeat;
	background-size: cover;
}
.font_color{
	color: white;
}
